nav {
  display: flex;
  width: 100%;
  padding: 0.5%;
  margin: 2% 0 5% 0;
}
nav ul {
  margin: 0;
  width: 40%;
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  justify-content: flex-end;
  flex: 2 1 60px;
}
nav ul li {
  margin-right: 5%;
}
nav a {
  text-decoration: none;
  color: #4a4a4a;
}
nav .logo {
  color: #f5c536;
  font-family: "coolvetica";
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
}

main {
  width: 80%;
  margin: 0 auto;
}

.lead {
  margin: 5% 0;
}
.lead .images {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.lead .images img {
  max-width: 40%;
  width: 30%;
}
.lead .intro {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 35%;
}
.lead .intro h1 {
  margin-bottom: 7%;
  color: #f5c536;
  letter-spacing: 2px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.lead .intro p {
  line-height: 2;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards .card {
  width: 40%;
  margin: 3%;
}
.cards .card .image1 {
  width: 100%;
  height: 300px;
  background-image: url("../images/villa1.jpg");
  background-size: cover;
}
.cards .card .image2 {
  width: 100%;
  height: 300px;
  background-image: url("../images/villa2.jpg");
  background-size: cover;
}
.cards .card .image3 {
  width: 100%;
  height: 300px;
  background-image: url("../images/villa3.jpg");
  background-size: cover;
}
.cards .card .image4 {
  width: 100%;
  height: 300px;
  background-image: url("../images/villa4.jpg");
  background-size: cover;
}
.cards .card a {
  text-decoration: none;
  color: #f5c536;
  font-weight: bold;
}
.cards .card a:hover {
  text-decoration: underline;
}
.cards .card p {
  color: #403f45;
}
.cards .btnMore {
  border: none;
  width: 10%;
  margin: 1% auto 5%;
  padding: 1%;
  background-color: #f5c536;
  color: #403f45;
}
.cards .btnMore:hover {
  background-color: #403f45;
  color: #f5c536;
}

.break {
  flex-basis: 100%;
  height: 0;
}

#about-us article:nth-child(2) {
  display: flex;
}
#about-us article:nth-child(2) p {
  text-align: left;
}
#about-us h1,
#about-us h3 {
  color: #403f45;
}
#about-us h2,
#about-us p {
  color: #868491;
}
#about-us h1,
#about-us h2,
#about-us h3 {
  font-size: 22px;
}
#about-us p {
  font-size: 18px;
}

.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.testimonials h2 {
  width: 25%;
  margin: 1% auto;
  color: #4a4a4a;
}
.testimonials article {
  padding: 1%;
  margin: 1% 5%;
  flex: 1 0 10%;
}
.testimonials article .client img {
  display: block;
  max-width: 80%;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #f5c536;
  border-radius: 50%;
  padding: 2%;
}
.testimonials article .testimonials-name {
  font-weight: bold;
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  color: #403f45;
}

footer {
  margin: 3% 0;
  padding: 2%;
}
footer section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer section h2 {
  text-transform: uppercase;
  font-size: 16px;
}
footer section article li {
  list-style-type: none;
}
footer section .socials .logo {
  color: #f5c536;
  font-family: "coolvetica";
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}
footer section .socials ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer section .socials ul li:first-of-type {
  width: 100%;
  margin-bottom: 3%;
}
footer .newsletter input[type=email] {
  border: none;
  padding: 3%;
  text-indent: 5%;
  width: 100%;
  height: 35px;
  border-radius: 5px;
}
footer .copy-right {
  float: right;
  color: lightslategray;
}

/*# sourceMappingURL=main.css.map */
