@mixin logo {
  color: $mainColor;
  font-family: "coolvetica";
  font-size: $fontSize + 40;
  letter-spacing: 2px;
  font-family: "Logo";
}

@mixin fonts($family, $path, $name) {
  @font-face {
    font-family: $family;
    src: url("#{$path}#{$name}");
  }
}

//mediaQuery
/*
@mixin minMedium {
  @media (min-width: 992px) {
    @content;
  }
}*/
