$mainColor: #f5c536;
$secondaryColor: #4a4a4a;
$backgroundColor: #f3f3f3;
$fontColor: #403f45;
$secondaryFontColor: #868491;
$fontSize: 14px;
$nbImages: 4;
$imagesPath: "../images/";
$fontPath: "../fonts/";
$logoFont: "AuthenticSignature.ttf";
$mainFont: "Louis_George_Cafe.ttf";
$fa-font-path: "../fonts/webfonts";

//MediaQuery variables
/* Extra small devices (phones, 600px and down) */
$xsDevices: "only screen and (max-width: 600px)";
/* Small devices (portrait tablets and large phones, 600px and up) */
$sDevices: "only screen and (min-width: 600px)";
/* Medium devices (landscape tablets, 768px and up) */
$mDevices: "only screen and (min-width: 768px)";
/* Large devices (laptops/desktops, 992px and up) */
$lDevices: "only screen and (min-width: 992px)";
/* Extra large devices (large laptops and desktops, 1200px and up) */
$xlDevices: "only screen and (min-width: 1200px)";
// //#e6ce1d//#fdec00;
