$mainColor: #f5c536;
$secondaryColor: #4a4a4a;
$backgroundColor: #f3f3f3;
$fontColor: #403f45;
$secondaryFontColor: #868491;
$fontSize: 14px;
$nbImages: 4;
$imagesPath: "../images/";
$fontPath: "../fonts/";
$logoFont: "AuthenticSignature.ttf";
$mainFont: "Louis_George_Cafe.ttf";

// //#e6ce1d//#fdec00;
