nav {
  display: flex;
  width: 100%;
  padding: 0.5%;
  margin: 5% 0 5% 0;
  ul {
    margin: 0;
    width: 40%;
    display: flex;
    text-transform: uppercase;
    justify-content: flex-end;
    flex: 2 1 60px;
    li {
      margin-right: 5%;
      
    }
  }
  a {
    color: $secondaryColor;
    &:hover{
      color: $mainColor;
    }
  }
  .logo {
    @include logo;
  }
}
